@using DotNet2020.Domain._6.Models.ViewModels
@using DotNet2020.Domain._6.Services
@{
    Layout = "~/Views/Shared/_Layout6.cshtml";
    List<string> months = MonthGeneratorService.GetAllMonths(DateTime.Now.Year);
}

@model FunctionalCapacityViewModel
    <script src="~/wwwroot6/js/FunctionalCapacityScript.js"></script>

    <form id="changeYearForm" asp-action="Index" class="m-2 p-2">
        Год -
        <select id="changeYearSelector" name="year">
            @for (int i = Model.YearsRange.Item1; i <= Model.YearsRange.Item2; i++)
            {
                if (i == Model.CurrentYear)
                {
                    <option value="@(i)" selected="selected">@(i)</option>
                }
                else
                {
                    <option value="@(i)">@(i)</option>
                }
            }
            <option value="-1">-1</option>
            <option value="2007">2007</option>
            <option value="2000">2000</option>
        </select>
    </form>
<div class="fcwrapper">
    <div class="fcscroller1">
        <table class="fcscroll-table table bottom">
            <thead>
                <tr>
                    <td class="fcsticky-col1 left">
                        &nbsp;
                    </td>
                    @foreach (var m in months)
                    {
                        <th class="right" colspan="2">
                            @m
                        </th>
                    }
                </tr>
                <tr>
                    <th class="fcsticky-col1 left align-center">
                        <p>Ресурс</p>
                    </th>
                    @foreach (var m in months)
                    {
                        <th class="right">
                            план,%
                        </th>
                        <th class="right">
                            мощность,%
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach(var pair in Model.Dict)
                {
                    <tr>
                        <td class="fcsticky-col1 left h45">
                            <h6>@pair.Key</h6>
                        </td>

                        @for(int i = 0; i < 24; i++)
                        {
                            <td class="right h45">
                                
                            </td>
                        }
                    </tr>

                    @foreach(var m in pair.Value)
                    {
                        <tr>
                            <td class="fcsticky-col1 left h45">
                                @(m.Resource.FirstName + " " + m.Resource.LastName)
                            </td>

                            @foreach(var capacItem in m.YearItemsDict[2020])
                            {
                                <td class="right align-center h45">
                                    @capacItem.PlannedCapacity%
                                </td>
                                <td class="right align-center h45">
                                    @capacItem.CurrentCapacity%
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>