@model DotNet2020.Domain._5.Models.EditReportModel
<style type="text/css">
    .container4 {
        margin: 0 auto;
    }
</style>
<div class="text-center">
    <h2>Редактировать отчет</h2>
</div>
<br>
<div class="row">
    <div class="container4">
        <form asp-action="ProcessEdit" method="post">
            <input asp-for="ReportId" value="@Model.ReportId" hidden />
            <div class="form-group">
                <label for="EditReport">Название отчета:</label>
                <input asp-for="ReportName" class="form-control" value="@Model.ReportName"/>
                <span asp-validation-for="ReportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="EditReport">Проект: @Model.ProjectName</label>
            </div>
            <div class="form-group">
                <label for="EditReport">Пользователи:</label>
                <br>
                <select asp-for="UserName" multiple size="3">
                    @foreach (var user in Model.UserFilter)
                    {
                        <option value="@user">@user</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="EditReport">Режим работы:</label>
                <br>
                <div class="text-center">
                    <input class="form-check-input" type="radio" name="EditReport" asp-for="IsAssignee" value="IsAssignee" checked>
                    <label for="EditReport">Assignee&emsp;&emsp;</label>
                    <input class="form-check-input" type="radio" name="EditReport" asp-for="IsWorkItems" value="IsWorkItems">
                    <label for="EditReport">Work Items</label>
                </div>
            </div>
            <br>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">Редактировать</button>
            </div>
        </form>
    </div>
</div>
