@using DotNet2020.Domain._5.Models;
@model ChartModel
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<script>
    (function () {
        $("#myTab2 li:eq(0) a").tab('show');
    });
</script>
<ul id="myTab2" class="nav nav-tabs">
    @for (int i = 0; i < Model.Charts.Count; i++)
    {
    <li><a data-toggle="tab" href="#@i">@Model.Charts[i].Name</a></li>
    <li><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
    }
</ul>
@{
    var mas = new int[Model.Charts.Count];
    for (int i = 0; i < mas.Length; i++)
    {
        mas[i] = -i;
    }
}
<div class="tab-content">
    @for (int i = 0; i < 4; i++)
    {
        <div id='@i' class="tab-pane fade in active">
            <div id='@mas[i]' style="height:auto"></div>
            <form method="get">
                <button asp-action="Edit" asp-route-id="5">Edit</button>
            </form>
            <script>
            var myPlot = document.getElementById(`@Json.Serialize(mas[i])`);
            var data = [
                {
                    x: @Json.Serialize(Model.Charts[i].YAxis),
                    y: @Json.Serialize(Model.Charts[i].XAxis),
                    type: 'bar'
                }
            ];
            var layout = {
                title: 'Запланированное время',
                showlegend: false
            };
            Plotly.newPlot(`@Json.Serialize(mas[i])`, data, layout);
            var d = '0'
            var id = 5;
            myPlot.on('plotly_click', function(data) {
            var pts = '';
            for (var i = 0; i < data.points.length; i++)
            {
                pts = data.points[i].x;
            }
            var start = pts - @Model.Charts[i].Tick.ToString();
            window.open(`https://localhost:44354/ReportView/ShowRange?reportId=${id}&start=${start}&end=${pts}&graphType=${d}`)
            });
            </script>
        </div>
    }
</div>