@{
    Layout = "~/Views/Shared/_Layout6.cshtml";
    int maxResourceAmount = 0;
    Dictionary<int, int> projectsCapacity = new Dictionary<int, int>();
}
@using DotNet2020.Domain._6.Models;
@using DotNet2020.Domain._6.ExtensionMethods;
@model Dictionary<Project, Dictionary<Period, List<FunctioningCapacityResource>>>
@foreach (var project in Model)
{
    var periods = project.Value;
    foreach (var periodPair in periods)
    {
        if (periodPair.Value.Count > maxResourceAmount)
        {
            maxResourceAmount = periodPair.Value.Count;
        }
    }
    projectsCapacity.Add(project.Key.Id, maxResourceAmount);
    maxResourceAmount = 0;
}
<div class="container-fluid mb-3 d-inline-flex">
    <form asp-action="Index" class="m-2 p-2"> Год - 
        <select name="year" onchange="console.log('year changed')">
            @for(int i = 0; i < 5; i++)
            {
                var year = DateTime.Now.Year + i;
                if (ViewBag.Year == year)
                {
                    <option value="@(year)" selected="selected">@(year)</option>
                }
                else
                {
                <option value="@(year)">@(year)</option>
                }
            }
        </select>
    </form>
    <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#newProject">
        Добавить проект
    </button>
    <button type="button" class="btn btn-primary m-2">Редактировать проект</button>
    <button type="button" class="btn btn-primary m-2">Перенести проект в завершенные</button>
    <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Тут будет добавление проекта
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="wrapper">
    <div class="scroller1">
        <table class="scroll-table table">
            <thead>
            <tr>
                <th class="sticky-col1" >
                    Группа \ Проект \\ Месяц
                </th>
                @for(int i = 1; i < 13; i++)
                {
                    var period = new DateTime(ViewBag.Year, i, 1);
                    <td colspan="2">
                        @($"{period.GetMonthName()} {period.Year}")
                    </td>
                }
            </tr>
            <tr>
                <th class="sticky-col1">
                    Текущие обязательства
                </th>
                @for (int i = 0; i < 12; i++)
                {
                    <td>Ресурс</td>
                    <td>Загрузка</td>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var pair in Model)
            {
                var periods = pair.Value;
                <tr>
                    <td class="sticky-col1"><b>@(pair.Key.Name)</b></td>
                    @foreach (var period in periods)
                    {
                        <td>@(projectsCapacity[pair.Key.Id]*20)</td>
                        <td>@(period.Value.Sum(period=>period.FunctionCapacity))</td>
                    }
                </tr>
                for (int i = 0; i < projectsCapacity[pair.Key.Id]; i++)
                {
                    <tr>
                        <td class="sticky-col1">@(pair.Key.Name)</td>
                        @foreach (var periodPair in periods)
                        {
                            var list = periodPair.Value;
                            if (list.Count - 1 >= i)
                            {
                                <td>@list[i].Resource.FirstName</td>
                                <td>@list[i].FunctionCapacity</td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }
                        }
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>