@{
    Layout = "~/Views/Shared/_Layout6.cshtml";
    var months = ViewBag.Months;
    var date = DateTime.Now;
    var year = ViewBag.Year;
}
@using DotNet2020.Domain._6.Models.ViewModels
@model Dictionary<string, List<ViewModelCapacity>>

<link rel="stylesheet" href="~/wwwroot6/css/Capacity.css"/>

<form asp-controller="Capacity" asp-action="Index">
    <div class="mb-2">
        <partial name="YearChangerPartial"/>
    </div>
</form>

<div class="wrapper">
    <div class="scroller2 scroller">
        <table class="scroll-table table bottom">
            <thead>
            <tr>
                <th class="sticky-col1 left" style="width: 20%;">
                    Ресурс
                </th>
                <th class="sticky-col2" style="width: 10%; margin-left: 20%;">
                    Тип ресурса
                </th>
                @for (var i = 0; i < 12; i++)
                {
                    var color = (date.Month == i + 1 && year == ViewBag.CurrentYear) ? "month-highlight" : "";
                    <th class="right @color">
                        @months[i]
                    </th>
                }
            </tr>
            </thead>

            <tbody>
            @foreach (var resources in Model)
            {
                <tr>
                    <th class="sticky-col1 left h45 total-sum-highlight" style="width: 20%;">
                        @resources.Key
                    </th>
                    <td class="sticky-col2 h45 total-sum-highlight" style="width: 10%; margin-left: 20%;">

                    </td>
                    @for (var i = 0; i < 12; i++)
                    {
                        <td class="right h45 total-sum-highlight">

                        </td>
                    }
                </tr>
                @foreach (var resource in resources.Value)
                {
                    <tr>
                        <td class="sticky-col1 left bottom" style="width: 20%;">
                            @resource.Name
                        </td>
                        <td class="sticky-col2 bottom" style="width: 10%; margin-left: 20%;">
                            @resource.Type
                        </td>
                        @for (int i = 1; i < 13; i++)
                        {
                            if (resource.Capacity.ContainsKey(i))
                            {
                                <td style="padding: 7px;" id="@(resource.ResourceId.ToString() + ';' + i.ToString() + ';' + year)" class="right align-center" ondblclick="handle(this)">
                                    @resource.Capacity[i]%
                                </td>
                            }
                            else
                            {
                                <td style="padding: 7px;" id="@(resource.ResourceId.ToString() + ';' + i.ToString() + ';' + year)" class="right h45 align-center" ondblclick="handle(this)">

                                </td>
                            }
                        }
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
<script src="~/wwwroot6/js/Capacity.js"></script>