@model DotNet2020.Domain._3.Models.AttestationModel
@using DotNet2020.Domain._3.Models

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/QWERTYstyles.css">
</head>

<body>
    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav nav-slp">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <ul>
            <li>@Html.ActionLink("Главная страница", "Index", "Attestation")
            <li>@Html.ActionLink("Сотрудники", "Workers", "Attestation")
            <li>@Html.ActionLink("Компетенции", "Competences", "Attestation")
            <li>@Html.ActionLink("Грейды", "Grades", "Attestation")
            <li>@Html.ActionLink("Вопросы", "Questions", "Attestation")
            <li>@Html.ActionLink("Аттестация", "Attestation", "Attestation")
            <li>@Html.ActionLink("Выгрузка", "Output", "Attestation")
        </ul>
    </nav>
    <main role="main">
        @{
            <p>@Html.ActionLink("Просмотр аттестаций", "AttestationList", "Attestation")</p>
            switch (Model.Action)
            {
                case AttestationAction.None:
                    <p>На данный момент аттестацию провести невозможно!</p>
                    break;
                case AttestationAction.Choosing:
                    <form method="post">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#workers">Работники</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#functional">По чему</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="workers">
                                <table class="table">
                                    <thead class="thead">
                                        <tr>
                                            <th>Выбрать для аттестации</th>
                                            <th>ФИО</th>
                                            <th>Должность</th>
                                            <th>Оклад</th>
                                            <th>Премия</th>
                                            <th>Комментарий</th>
                                            <th>Компетенции</th>
                                            <th>Предыдущие места работы</th>
                                            <th>Опыт работы</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var element in Model.Workers)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="radio" name="WorkerId" value="@element.Id" checked />
                                                </td>
                                                <td>@element.FullName</td>
                                                <td>@element.Position.Name</td>
                                                <td>@element.Salary</td>
                                                <td>@element.Bonus</td>
                                                <td>@element.Commentary</td>
                                                <td>
                                                    @if (element.SpecificWorkerCompetencesModels.Count == 0)
                                                    {
                                                        <span>Компетенции не добавлены!</span>
                                                    }
                                                    else
                                                    {
                                                        foreach (var competence in element.SpecificWorkerCompetencesModels)
                                                        {
                                                            <span>@competence.Competence.Competence</span>
                                                            <br />
                                                        }
                                                    }

                                                </td>
                                                <td>@element.PreviousWorkPlaces</td>
                                                <td>@element.Experience</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="functional">
                                <p><input type="radio" value="CompetencesChose" name="Action"> По компетенциям</p>
                                <p><input type="radio" value="GradeChose" name="Action"> По грейдам</p>
                                <br />
                                <input type="submit" value="Выбрать!" />
                            </div>
                        </div>
                    </form>
                    break;
                case AttestationAction.CompetencesChose:
                    <!-- #region таблица компетенций -->
                    <form method="post">
                        <input type="text" hidden value="AttestationByCompetences" name="Action" />

                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th>Выбрать</th>
                                    <th>Компетенции</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var element in Model.Competences)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" value="@element.Id" name="IdsTestedCompetences" />
                                        </td>
                                        <td>@element.Competence</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input type="number" name="WorkerId" hidden value="@Model.WorkerId" />
                        <input type="submit" value="Начать аттестацию по выбранным" />
                    </form>
                    <!-- #endregion -->
                    break;
                case AttestationAction.GradeChose:
                    <!-- #region таблица грейдов -->
                    <form method="post">
                        <input type="text" hidden value="AttestationByGrade" name="Action" />
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th>Выбрать</th>
                                    <th>Грейд</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var element in Model.Grades)
                                {
                                    <tr>
                                        <td>
                                            <input type="radio" value="@element.Id" name="GradeId" />
                                        </td>
                                        <td>@element.Grade</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <input type="number" name="WorkerId" hidden value="@Model.WorkerId" />
                        <input type="submit" value="Начать аттестацию по выбранному грейду" />
                    </form>
                    <!-- #endregion -->
                    break;
                case AttestationAction.AttestationByCompetences:
                    <!-- #region окно аттестации по компетенциям -->
                    <div id="window">
                        <form method="post">
                            @for (int i = 0; i < Model.Questions.Count; i++)
                            {
                                <p>Вопрос №@(i + 1)</p>
                                <p>@Model.Questions[i]</p>
                                <input type="text" value="@Model.Questions[i]" name="Questions" hidden>
                                <p>
                                    <input type="checkbox" value="@i" name="RightAnswers" /> Зачтено?
                                    <input type="checkbox" value="@i" name="SkipedAnswers" /> Пропустить
                                </p>
                                <p>Комментарий</p>
                                <textarea style="border:none;border-top:groove;border-left:groove;" name="Commentaries" cols="100"></textarea>
                            }
                            <br />
                            <br />

                            <p>Список компетенций по которым пройдена аттестация</p>

                            <table class="table">
                                <thead class="thead">
                                    <tr>
                                        <th>Получил?</th>
                                        <th>Компетенции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var element in Model.TestedCompetences)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" value="@element.Id" name="GotCompetences" />
                                            </td>
                                            <td>@element.Competence</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <p>Обратная связь</p>
                            <textarea style="border:none;border-top:groove;border-left:groove;" name="Feedback" cols="100" required></textarea>
                            <input type="number" name="WorkerId" hidden value="@Model.WorkerId" />
                            <br>
                            <input type="text" value="Finished" name="Action" hidden>
                            @foreach (var element in Model.TestedCompetences)
                            {
                                <input type="number" name="IdsTestedCompetences" value="@element.Id" hidden />
                            }
                            <input type="submit" value="Завершить" />
                        </form>
                    </div>
                    <!-- #endregion -->
                    break;
                case AttestationAction.AttestationByGrade:
                    <!-- #region окно аттестации по грейдам -->
                    <div id="window">
                        <form method="post">
                            @for (int i = 0; i < Model.Questions.Count; i++)
                            {
                                <p>Вопрос №@(i + 1)</p>
                                <p>@Model.Questions[i]</p>
                                <input type="text" value="@Model.Questions[i]" name="Questions" hidden>
                                <p>
                                    <input type="checkbox" value="@i" name="RightAnswers" /> Зачтено?
                                    <input type="checkbox" value="@i" name="SkipedAnswers" /> Пропустить
                                </p>
                                <p>Комментарий</p>
                                <textarea style="border:none;border-top:groove;border-left:groove;" name="Commentaries" cols="100"></textarea>
                            }
                            <br />
                            <br />

                            <p><input type="checkbox" name="IsGotGrade" value="true" /> Получил ли сотрудник грейд? </p>
                            <input name="GradeId" value="@Model.GradeId" hidden />

                            <p>Обратная связь</p>
                            <textarea style="border:none;border-top:groove;border-left:groove;" name="Feedback" cols="100" required></textarea>
                            <input type="number" name="WorkerId" hidden value="@Model.WorkerId" />
                            <br>
                            <input type="text" value="Finished" name="Action" hidden>

                            @foreach (var element in Model.TestedCompetences)
                            {
                                <input type="number" name="IdsTestedCompetences" value="@element.Id" hidden />
                            }

                            <input type="submit" value="Завершить" />
                        </form>
                    </div>
                    <!-- #endregion -->
                    break;
            }

        }
        <br />
        <br />
        <br />
        <br />
    </main>
</body>
</html>

