@model IEnumerable<DotNet2020.Domain._3.Models.AttestationListModel>

@{
    Layout = "QwertyHeader";
}

<div class="container">
    <p>@Html.ActionLink("Назад", "Attestation", "Attestation")</p>
    <table class="table">
        <thead class="thead">
            <tr>
                <th>ФИО</th>
                <th>Полученные компетенции</th>
                <th>Дата</th>
                <th>Выгрузить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    @if (element.Worker == null)
                    {
                        <td>Сотрудник был удалён!</td>
                    }
                    else
                    {
                        <th>@element.Worker.FullName</th>
                    }

                    <td>
                        @if (element.Competences.Count > 0)
                        {
                            foreach (var subElement in element.Competences)
                            {
                                if (subElement == null)
                                {
                                    <p>Компетенция была удалена</p>
                                }
                                else
                                {
                                    <p>@subElement.Competence</p>
                                }

                            }
                        }
                        else
                        {
                            <p>Компетенции не были получены!</p>
                        }
                    </td>
                    <td>@element.Attestation.Date.ToString("d")</td>
                    <td>@Html.ActionLink($"Выгрузить", "DownloadAttestation", "Attestation", new { id = element.Attestation.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>