<p>@Html.ActionLink("Главная страница", "Index", "Attestation")</p>
 <p>@Html.ActionLink("Сотрудники", "Workers", "Attestation")</p>
 <p>@Html.ActionLink("Компетенции", "Competences", "Attestation")</p>
 <p>@Html.ActionLink("Грейды", "Grades", "Attestation")</p>
 <p>@Html.ActionLink("Вопросы", "Questions", "Attestation")</p>
 <p>@Html.ActionLink("Аттестация", "Attestation", "Attestation")</p>
<p>@Html.ActionLink("Выгрузка", "Output", "Attestation")</p>
@model DotNet2020.Domain._3.Models.AttestationModel


<p>@Html.ActionLink("Просмотр аттестаций", "AttestationList", "Attestation")</p>

@if (ViewBag.Workers.Count > 0 && ViewBag.Competences.Count > 0)
{
 @if (ViewBag.Method == "Choose")
{
 <form method="post">
  <input type="text" hidden value="Attestation" name="method"/>
  <table border="1">
   <tr>
    <th>Выбрать для аттестации</th>
    <th>ФИО</th>
    <th>Должность</th>
    <th>Оклад</th>
    <th>Премия</th>
    <th>Комментарий</th>
    <th>Компетенции</th>
    <th>Предыдущие места работы</th>
    <th>Опыт работы</th>
   </tr>
   @foreach (var element in ViewBag.Workers)
   {
    <tr>
     <td>
      <input type="radio" name="WorkerId" value="@element.Worker.Id"/>
     </td>
     <td>@element.Worker.Name</td><td>@element.Worker.Position</td><td>@element.Worker.Salary</td><td>@element.Worker.Bonus</td><td>@element.Worker.Commentary</td>
     <td>
      @if (element.Competences.Count == 0)
      {
       <span>Компетенции не добавлены!</span>
      }
      else
      {
       foreach (var competence in element.Competences)
       {
        <span>@competence.Competence</span> <br/>
       }
      }

     </td><td>@element.Worker.PreviousWorkPlaces</td><td>@element.Worker.Experience</td>
    </tr>
   }
  </table>
  <br/>
  <br/>

  <table border="1">
   <tr>
    <th>Выбрать</th>
    <th>Компетенции</th>
   </tr>
   @foreach (var element in ViewBag.Competences)
   {
    <tr>
     <td>
      <input type="checkbox" value="@element.Id" name="CompetencesId"/>
     </td>
     <td>@element.Competence</td>
    </tr>
   }
  </table>

  <input type="submit" value="Начать аттестацию по выбранным"/>
 </form>
}
else
{
 <head>
  <meta charset="utf-8">
  <title>Рамка</title>
  <style>
        #window 
        {
            width: 100%;
            height: 100%;
            text-align: left;
            padding: 10px;
            border: 3px solid black;
            border-radius: 10px;
            color: #0000cc;
            position: center;
            margin: auto;
            background: white;
        }
    </style>
 </head>
 <body>
 <div id="window">
  <form method="post">
   @for (int i = 0; i < ViewBag.Questions.Count; i++)
   {
    <p>Вопрос №@(i+1)</p>
    <p>@ViewBag.Questions[i]</p> <input type="text" value="@ViewBag.Questions[i]" name="questions" hidden>
    <p><input type="checkbox" value="@i" name="rightAnswers" /> Зачтено?
     <input type="checkbox" value="@i" name="skipedAnswers" /> Пропустить </p>
    <p>Комментарий</p>
    <textarea style="border:none;border-top:groove;border-left:groove;" name="commentaries" cols="100"></textarea>
   }
   <br/>
   <br/>
   <p>Список компетенций по которым пройдена аттестация</p>
   <table border="1">
    <tr>
     <th>Получил?</th>
     <th>Компетенции</th>
    </tr>
    @foreach (var element in ViewBag.ChosenCompetences)
    {
     <tr>
      <td>
       <input type="checkbox" value="@element.Id" name="gotCompetences"/>
      </td>
      <td>@element.Competence</td>
     </tr>
    }
   </table>
   <p>Дальнейшие действия</p>
   <textarea style="border:none;border-top:groove;border-left:groove;" name="NextMoves" cols="100" required></textarea>
   <p>Обратная связь</p>
   <textarea style="border:none;border-top:groove;border-left:groove;" name="Feedback" cols="100" required></textarea>
   <input type="text" name="method" hidden value="Finished"/>
   <input type="number" name="WorkerId" hidden value="@ViewBag.WorkerId"/>
   @foreach (var element in ViewBag.CompetencesId)
   {
    <input type="number" name="CompetencesId" value="@element" hidden/>
   }
   <br>
   <input type="submit" value="Завершить"/>
  </form>
 </div>
 </body>
}
}
else
{
 <p>Добавьте хотя бы одного сотрудника и одну компетенцию!</p>
}



