@model IEnumerable<DotNet2020.Domain._3.Models.GradesModel>
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/QWERTYstyles.css">
</head>

<body>
    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <ul>
            <li>@Html.ActionLink("Главная страница", "Index", "Attestation")
            <li>@Html.ActionLink("Сотрудники", "Workers", "Attestation")
            <li>@Html.ActionLink("Компетенции", "Competences", "Attestation")
            <li>@Html.ActionLink("Грейды", "Grades", "Attestation")
            <li>@Html.ActionLink("Вопросы", "Questions", "Attestation")
            <li>@Html.ActionLink("Аттестация", "Attestation", "Attestation")
            <li>@Html.ActionLink("Выгрузка", "Output", "Attestation")
        </ul>
    </nav>
    <main role="main">
        <p>@Html.ActionLink("Добавить грейд", actionName: "GradesAdd", controllerName: "Attestation")</p>
            @if (Model != null && Model.Any())
            {
            <table class="table d">
                <thead class="thead-dark">
                    <tr>
                        <th>Грейд</th>
                        <th>Компетенции</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var element in Model)
                    {
                        <tr>
                            <td>
                                @element.Grade
                                <form method="post">
                                    <p>@Html.ActionLink($"Изменить", "GradesManage", "Attestation", new { id = element.Id }, null) </p>
                                </form>
                            </td>
                            @if (element.GradesCompetences.Count == 0)
                            {
                                <td> Список необходимых компетенций пуст!</td>
                            }
                            else
                            {
                                <td>
                                    @for (int i = 0; i < element.GradesCompetences.Count; i++)
                                    {
                                        @element.GradesCompetences[i].Competence.Competence
                                        <br />
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            }
    </main>
</body>
</html>

