@model DotNet2020.Domain._3.Models.GradeUpdateModel

@{
    Layout = "QwertyHeader";
}

<div class="container">
    <h1>Управление грейдами</h1>
    <p>@Html.ActionLink("Грейды", "Grades", "Attestation")</p>
    <br />

    <form method="post">
        <h3>Добавление компетенций</h3>
        @foreach (var element in Model.Competences)
        {
            if (Model.GradeModel.GradesCompetences.Any(x => x.CompetenceId == element.Id))
            {
                <p><input type="checkbox" value="@element.Id" name="NewCompetencesIds" checked="" /> @element.Competence</p>
            }
            else
            {
                <p><input type="checkbox" value="@element.Id" name="NewCompetencesIds" /> @element.Competence</p>
            }
        }
        <input type="text" hidden name="Action" value="SetCompetences" />
        <p><button type="submit" class="btn btn-primary">Обновить</button></p>
    </form>

    <br />
    @if (Model.GradeModel.GradesCompetences != null && Model.GradeModel.GradesCompetences.Count > 0)
    {
        <h3>Список прикреплённых на данный момент компетенций:</h3>
        @foreach (var element in Model.GradeModel.GradesCompetences)
        {
            <p>@element.Competence.Competence</p>
        }
    }
    else
    {
        <p>Компетенции не привязаны!</p>
    }
    <br />
    <form method="post">
        <h3>Добавление последующего грейда:</h3>
        @foreach (var element in Model.Grades)
        {
            if (Model.GradeToGrades.Any(x => x.NextGradeId == element.Id && x.GradeId == ViewBag.UpdatedGrade.Id))
            {
                <p><input type="checkbox" value="@element.Id" name="NewGradesIds" checked="" /> @element.Grade</p>
            }
            else
            {
                <p><input type="checkbox" value="@element.Id" name="NewGradesIds" /> @element.Grade</p>
            }
        }
        <input type="text" hidden name="Action" value="AddGrade" />
        <p><button type="submit" class="btn btn-primary">Привязать</button></p>
    </form>

    <br />
    <form method="post">
        <h3>Удаление грейда</h3>
        <input type="text" hidden name="Action" value="RemoveGrade" />
        <button type="submit" style="background-color:red" class="btn btn-primary">Удалить грейд</button>
    </form>
</div>