<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/QWERTYstyles.css">
</head>

<body>
    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav nav-slp">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <ul>
            <li>@Html.ActionLink("Главная страница", "Index", "Attestation")
            <li>@Html.ActionLink("Сотрудники", "Workers", "Attestation")
            <li>@Html.ActionLink("Компетенции", "Competences", "Attestation")
            <li>@Html.ActionLink("Грейды", "Grades", "Attestation")
            <li>@Html.ActionLink("Вопросы", "Questions", "Attestation")
            <li>@Html.ActionLink("Аттестация", "Attestation", "Attestation")
            <li>@Html.ActionLink("Выгрузка", "Output", "Attestation")
        </ul>
    </nav>
    <main role="main">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#workers">Работники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#functional">Грейды</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="workers">
                
            </div>
            <div class="tab-pane fade" id="functional">

            </div>
        </div>
    </main>
</body>
</html>