<p>@Html.ActionLink("Главная страница", "Index", "Attestation")</p>
 <p>@Html.ActionLink("Сотрудники", "Workers", "Attestation")</p>
 <p>@Html.ActionLink("Компетенции", "Competences", "Attestation")</p>
 <p>@Html.ActionLink("Грейды", "Grades", "Attestation")</p>
 <p>@Html.ActionLink("Вопросы", "Questions", "Attestation")</p>
 <p>@Html.ActionLink("Аттестация", "Attestation", "Attestation")</p>
<p>@Html.ActionLink("Выгрузка", "Output", "Attestation")</p>