<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/left-nav-style.css">
</head>

<body>
<input type="checkbox" id="nav-toggle" hidden>
<nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick></label>
    <ul>
        <li>@Html.ActionLink("Главная страница", "Index", "Attestation")
        <li>@Html.ActionLink("Сотрудники", "Workers", "Attestation")
        <li>@Html.ActionLink("Компетенции", "Competences", "Attestation")
        <li>@Html.ActionLink("Грейды", "Grades", "Attestation")
        <li>@Html.ActionLink("Вопросы", "Questions", "Attestation")
        <li>@Html.ActionLink("Аттестация", "Attestation", "Attestation")
        <li>@Html.ActionLink("Выгрузка", "Output", "Attestation")
    </ul>
</nav>
<main role="main">
 @if (ViewBag.Workers.Count > 0)
 {
  <form method="post">
   <table border="1">
    <tr>
     <th>Выбрать</th>
     <th>ФИО</th>
     <th>Должность</th>
     <th>Компетенции</th>
     <th>Общий стаж</th>
    </tr>
    @foreach (var element in ViewBag.Workers)
    {
     <tr>
      <td><input type="checkbox" value="@element.Worker.Id" name="ids"/></td>
      <td>@element.Worker.FullName</td>
      <td>@element.Worker.Position</td>
      <td>
       @if (element.Competences.Count == 0 || element.Competences.Count == 1 && element.Competences[0].Competence == "")
       {
        <span>Данный работник не обладает никакими компетенциями</span>
       }
       else
       {
        foreach (var subElement in element.Competences)
        {
         <p>@subElement.Competence</p>
        }
       }
      </td>
      <td>@element.Worker.Experience</td>
     </tr>
    }
   </table>
   <br/>
   <input type="submit" value="Выгрузить выбранных"/>
  </form>
 }
 else
 {
  <p>Список работников пуст!</p>
 }
</main>
</body>
</html>

