@model IEnumerable<DotNet2020.Domain._3.Models.SpecificWorkerModel>

@{
    Layout = "QwertyHeader";
}

<div class="container">
    @if (Model.Any())
    {
        <form method="post">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>Выбрать</th>
                        <th>ФИО</th>
                        <th>Должность</th>
                        <th>Компетенции</th>
                        <th>Общий стаж</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var element in Model)
                    {
                        <tr>
                            <td><input type="checkbox" value="@element.Id" name="ids" /></td>
                            <th>@element.FullName</th>
                            <td>@element.Position.Name</td>
                            <td>
                                @if (element.SpecificWorkerCompetencesModels.Count == 0)
                                {
                                    <span>Данный работник не обладает никакими компетенциями</span>
                                }
                                else
                                {
                                    foreach (var subElement in element.SpecificWorkerCompetencesModels)
                                    {
                                        <p>@subElement.Competence.Competence</p>
                                    }
                                }
                            </td>
                            <td>@element.Experience</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <button type="submit" class="btn btn-primary">Выгрузить выбранных</button>
        </form>
    }
    else
    {
        <p>Список работников пуст!</p>
    }
</div>