@model DotNet2020.Domain._3.Models.WorkerUpdateModel

@{
    Layout = "QwertyHeader";
}
<div class="container">
    <form method="post">
        <input type="text" hidden name="Worker.Email" value="@Model.Worker.Email" />
        <p>
            <b>Фамилия</b><br />
            <input type="text" required name="Worker.LastName" value="@Model.Worker.LastName" />
        <p>
            <b>Имя</b><br />
            <input type="text" required name="Worker.FirstName" value="@Model.Worker.FirstName" />
        <p>
            <b>Отчество</b><br />
            <input type="text" required name="Worker.MiddleName" value="@Model.Worker.MiddleName" />
        <p>
            <b>Должность</b><br />
            <input type="text" required name="Worker.Position.Name" value="@Model.Worker.Position.Name" />
        <p>
            <b>Оклад</b><br />
            <input type="number" required name="Worker.Salary" step="0.01" value="@Model.Worker.Salary" />
        <p>
            <b>Премия</b><br />
            <input type="number" required name="Worker.Bonus" step="0.01" value="@Model.Worker.Bonus" />
            <input type="number" hidden value="@Model.Worker.Position.Id" name="Worker.Position.Id" />
        <p>
            <b>Компетенции</b><br />
            @foreach (var element in Model.Competences)
            {
            <p>
                @if (Model.Worker.SpecificWorkerCompetencesModels.Any(x => x.CompetenceId == element.Id))
                {
                    <input type="checkbox" value="@element.Id" checked name="NewCompetencesIds">
                }
                else
                {
                    <input type="checkbox" value="@element.Id" name="NewCompetencesIds">
                }
                @element.Competence
            </p>
        }
            <p>
                <b>Комментарий</b><br />
                <textarea style="border:none;border-top:groove;border-left:groove;" name="Worker.Commentary" required cols="100">@Model.Worker.Commentary</textarea>
            <p>
                <b>Предыдущие места работы</b><br />
                <textarea style="border:none;border-top:groove;border-left:groove;" name="Worker.PreviousWorkPlaces" required cols="100">@Model.Worker.PreviousWorkPlaces</textarea>
            <p>
                <b>Общий стаж</b><br />
                <textarea style="border:none;border-top:groove;border-left:groove;" name="Worker.Experience" required cols="100">@Model.Worker.Experience</textarea>
                <br />
                <button type="submit" class="btn btn-primary">Обновить</button>
        </form>
    </div>