@model DotNet2020.Domain._3.Models.SpecificWorkerModel
<form method="post">
    <p>Фамилия</p>
    <input type="text" required name="Surname" value="@ViewBag.Worker.Surname"/>
    <p>Имя</p>
    <input type="text" required name="Name" value="@ViewBag.Worker.Name"/>
    <p>Отчество</p>
    <input type="text" required name="Patronymic" value="@ViewBag.Worker.Patronymic"/>
    <p>Должность</p>
    <input type="text" required name="Position" value="@ViewBag.Worker.Position"/>
    <p>Оклад</p>
    <input type="number" required name="Salary" step="0.01" value="@ViewBag.Worker.Salary"/>
    <p>Премия</p>
    <input type="number" required name="Bonus" step="0.01" value="@ViewBag.Worker.Bonus"/>
    <p>Компетенции</p>
    @foreach (var element in ViewBag.Competences)
    {
        <p>
            @if (ViewBag.Ids.Contains(element.Id))
            {
                <input type="checkbox" value="@element.Id" checked name="ids">
            }
            else
            {
                <input type="checkbox" value="@element.Id" name="ids">
            }
            @element.Competence
        </p>
    }
    <p>Комментарий</p>
    <textarea style="border:none;border-top:groove;border-left:groove;" name="Commentary" required cols="100">@ViewBag.Worker.Commentary</textarea>
    <p>Предыдущие места работы</p>
    <textarea style="border:none;border-top:groove;border-left:groove;" name="PreviousWorkPlaces" required cols="100">@ViewBag.Worker.PreviousWorkPlaces</textarea>
    <p>Общий стаж</p>
    <textarea style="border:none;border-top:groove;border-left:groove;" name="Experience" required cols="100">@ViewBag.Worker.Experience</textarea>
    <br/>
    <input type="submit" value="Обновить"/>
</form>
