<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/left-nav-style.css">
</head>

<body>
<input type="checkbox" id="nav-toggle" hidden>
<nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick></label>
    <ul>
        <li>@Html.ActionLink("Главная страница", "Index", "Attestation")
        <li>@Html.ActionLink("Сотрудники", "Workers", "Attestation")
        <li>@Html.ActionLink("Компетенции", "Competences", "Attestation")
        <li>@Html.ActionLink("Грейды", "Grades", "Attestation")
        <li>@Html.ActionLink("Вопросы", "Questions", "Attestation")
        <li>@Html.ActionLink("Аттестация", "Attestation", "Attestation")
        <li>@Html.ActionLink("Выгрузка", "Output", "Attestation")
    </ul>
</nav>
<main role="main">
<p>@Html.ActionLink("Добавить", "WorkersAdd", "Attestation")</p>

@if (ViewBag.Workers != null && ViewBag.Workers.Count > 0)
{
    <table border="1">
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Оклад</th>
            <th>Премия</th>
            <th>Комментарий</th>
            <th>Компетенции</th>
            <th>Предыдущие места работы</th>
            <th>Опыт работы</th>
            <th></th>
        </tr>
        @foreach (var element in ViewBag.Workers)
        {
            <tr><td>@element.Worker.Name</td><td>@element.Worker.Position</td><td>@element.Worker.Salary</td><td>@element.Worker.Bonus</td><td>@element.Worker.Commentary</td>
                <td>
                    @if (element.Competences != null && element.Competences.Count>0)
                    {
                        @foreach (var competence in element.Competences)
                        {
                            <span>@competence.Competence</span>
                        }
                    }
                    else
                    {
                        <p>Компетенции не добавлены</p>
                    }
                </td><td>@element.Worker.PreviousWorkPlaces</td><td>@element.Worker.Experience</td>
                <td>
                    @Html.ActionLink($"Изменить", "WorkersUpdate", "Attestation", new {id = element.Worker.Id}, null)
                    @Html.ActionLink($"Удалить", "WorkersRemove", "Attestation", new {id = element.Worker.Id}, null)
                    </td></tr>
        }
    </table>
}
</main>
</body>
</html>

